.checkout {
    display: flex;
    padding: 20px;
    background-color: paleturquoise;
    height: max-content;
}
.checkout__title {
    margin-right: 10px;
    padding: 10px;
    font-size: 10px;
}
.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout__right {
    display: flex;
}