.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__video {
    object-fit: contain;
    width: 180px;
    height: 180px;

}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__rating{
    display: flex;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}

.checkoutProduct__info > button {
    background-color: orange;
    border: 1px solid;
}