.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 100;
}

.header__logo {
 width: 100px;
 margin: 0 20px;
 margin-top: 18px;
}
.header-search {
    display: flex;
    flex: 1;
}
.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header__nav {
    display: flex;
    justify-content: space-evenly;
}
.header__link {
    color: white;
    text-decoration: none;
}
.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header__optionLineOne {
    font-size: 10px;
}
.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}
.header__optionBasket {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 800;
}