.home{
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;

}

.home__row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
}   
