.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: paleturquoise;
    margin: 10px;
}
.product__info{
    height: 100px;
    margin-bottom: 15px;
}

.product__rating{
    display: flex;
}

.product__price{
    margin-top: 5px;
}

.product__video {
    width: 100;
    z-index: auto;
    margin: 0 20px;
    margin-top: 18px;
}

.product > button{
    background-color: orange;
    border: 1px solid;
}