.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 100px;
    padding: 20px;
    margin-top: 100px;
    background-color: peachpuff;
    border: 1px solid gray;
    border-radius: 1px;
}

.subtotal > button {
    background-color: orange;
    border: 1px solid;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border-radius: 2px;
}